<!-- templates/voter_analytics/base.html-->
<!-- zverdieu@bu.edu 10/31/2025-->
<!-- Description: HTML template for displaying a list of voters-->

{% extends 'voter_analytics/base.html' %}

{% block content %}

<div>
    {% include "voter_analytics/search.html" %}
</div>
<!-- change pages -->
<div>
    {% if is_paginated %}
        <ul>
            {% if page_obj.has_previous %}
                <li>
                    <a href="?{% for key, value in request.GET.items %}{% if key != 'page' %}{{ key }}={{ value }}&{% endif %}{% endfor %}page={{ page_obj.previous_page_number }}">Previous</a>
                </li>
            {% endif %}

            <li>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</li>

            {% if page_obj.has_next %}
                <li>
                    <a href="?{% for key, value in request.GET.items %}{% if key != 'page' %}{{ key }}={{ value }}&{% endif %}{% endfor %}page={{ page_obj.next_page_number }}">Next</a>
                </li>
            {% endif %}
        </ul>
    {% endif %}
</div>
<!-- voter table -->
<div>
    <table>
        <tr>
            <th>Name</th>
            <th>Street Address</th>
            <th>Date of Birth</th>
            <th>Party Affiliation</th>
            <th>Voter Score</th>
        </tr>

        {% for v in voters %}
        <tr>
            <td><a href="{% url 'voter' v.pk %}">{{v.first_name}} {{v.last_name}} </a></td>
            <td>{{v.street_number}} {{v.street_name}},
                {% if v.apartment_number %}
                        Apartment {{ v.apartment_number }}
                {% endif %}
            </td>
            <td>{{v.date_of_birth}}</td>
            <td>{{v.party_affiliation}}</td>
            <td>{{v.voter_score}}</td>
        </tr>
        {% endfor %}

    </table>

</div>


{% endblock %}