<!-- hw/tempates/hw/about.html-->
{% extends 'hw/base.html' %}

{% block content %}
        <h1>About this page</h1>

        <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ad temporibus maxime, dolores nostrum pariatur ipsum necessitatibus assumenda sit, porro voluptatem perspiciatis nobis, eum et nam dolorum? Dolores vero consequatur deleniti.
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae omnis eveniet ea unde dolorem iste dicta? Ea tempore pariatur, illum amet dolore velit numquam eaque ducimus perspiciatis, assumenda consequuntur earum?
        </p>
{% endblock %}
        