<!-- hw/tempates/hw/base.html-->
{% load static %}
<html>
    <head>
        <title>Hello, world!</title>
        <link rel="stylesheet" href="{% static 'styles.css' %}">
    </head>
    <body>
        <nav>
            <li><a href="{% url 'home_page' %}">Home</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
        </nav>
        
        <!-- put page specific content here-->
         {% block content %}
         {% endblock %}
        <footer>
            The current time is {{time}}. <br>
            This page has been brought to you by the letter {{letter1}} and {{letter2}}, and the number {{number}}
        </footer>
    </body>
</html>