# Python bytecode files
*.pyc
*.pyo
__pycache__/

# Virtual environment (TODO: add other virtual environment names as needed -> not necessary if using `pipenv`)
venv/
env/
.venv/
.env/

# Django environment variables
.env
.env.*

# Django migrations (temporary or backup files)
*/migrations/__pycache__/
*/migrations/*.pyc

# Database
db.sqlite3-journal

# Static and media files

# static/admin is created on the Apache-server when we create the sybmolic link 
# (but is not necessary locally or on GitHub)
/static/admin/

# Django cache files
*.log
*.pot
*.mo
*.pid
*.cache
*.coverage
*.coverage.*

# Editor and IDE settings
.vscode/
.idea/
.spyderproject
.spyproject
*.sublime-project
*.sublime-workspace

# Operating system files
.DS_Store
Thumbs.db
desktop.ini

# Pipenv and Poetry
.python-version

# Coverage reports
htmlcov/
.coverage
.coverage.*