<!-- blog/article.html-->
<!-- display a single article on this web page -->
 {% extends 'blog/base.html' %}

 {% block content %}
<h1>{{article.title}}</h1>

<!-- this displays a QuerySet of all articles -->
<!-- {{articles}} -->

<main class="grid-container">
    <article class="featured">
        <img src="{{article.image_url}}" alt="">
        <div>
            <h2>{{article.title}}</h2>
            <h3>by {{article.author}} at {{article.published}}</h3>
            <p>
                {{article.text}}
            </p>
        </div>
    </article>
        <div>
            <h2>Comments</h2>
            <h3>
                <a href="{% url 'blog:create_comment' article.pk %}">Create a comment</a>
            </h3>
            <!-- Display comments-->
            <!-- {{article.get_all_comments}} -->
            {% for comment in article.get_all_comments %}
                <div>
                    <strong>by {{comment.author}} at {{comment.published}}</strong>
                    <p>{{comment.text}}</p>
                </div>

            {% endfor %}
        </div>

    <hr>
</div>

{% endblock %}