<!-- blog/article.html-->
<!-- display a single article on this web page -->
 {% extends 'blog/base.html' %}

 {% block content %}
<h1>{{article.title}}</h1>

<!-- this displays a QuerySet of all articles -->
<!-- {{articles}} -->

<main class="grid-container">
    <article>
        <div>
            <h2>{{article.title}}</h2>
            <h3>by {{article.author}}</h3>
            <p>
                {{article.text}}
            </p>
        </div>
        <img src="{{article.image_url}}" alt="">
    </article>
    <hr>
</div>

{% endblock %}