<!-- blog/templates/blog/base.html-->
<!-- zverdieu@bu.edu 9/25/2025-->
<!-- Description: Base template for blog page-->
 {% load static %}
<html>
    <head>
        <title>Our Blog</title>
        <link rel="stylesheet" href="{% static 'styles-blog.css' %}">
    </head>
    <body>
        <head>
            <h1>Our Blog</h1>
            <nav>
                <ul>
                    <li><a href="{% url 'blog:random' %}">Random</a></li>
                    <li><a href="{% url 'blog:show_all' %}">Show All</a></li>
                    {% if request.user.is_authenticated %}
                    <li><a href="{% url 'blog:create_article' %}">Create</a></li>
                    <form action="{% url 'blog:logout' %}" method="POST">
                        {% csrf_token %}
                        <li><input type="submit" value="Logout"></li>
                    </form>
                    {% else %}
                    <li><a href="{% url 'blog:login' %}">Login</a></li>
                    {% endif %}
                </ul>
                <hr>
                {% if request.user.is_authenticated %}
                Logged in as: {{request.user}}
                {% else %}
                Not logged in.
                {% endif %}
            </nav>
        </head>
        
         {% block content %}
         {% endblock %}
        
    </body>
</html>