<!-- blog/show_all.html-->
{% extends 'blog/base.html' %}

 {% block content %}
<h1>Showing All Articles</h1>

<!-- this displays a QuerySet of all articles -->
<!-- {{articles}} -->

<main class="grid-container">
    {% for article in articles %}
    <article>
        <div>
            <h2>{{article.title}}</h2>
            <h3>by {{article.author}}</h3>
            <p>
                {{article.text}}
            </p>
        </div>
        <a href="{% url 'blog:article' article.pk %}">
            <img src="{{article.image_url}}" alt="">
        </a>
    </article>
    <hr>

    {% endfor %}
</div>

{% endblock %}