<!-- File: templates/thriftiezzz/create_profile_form.html
 Author: Zacharie Verdieu (zverdieu@bu.edu), 12/8/2025
 Description: Html template for create_profile_form page for thriftiezzz app
 -->

{% extends "thriftiezzz/base.html" %}

{% block content %}

<h1 class="page-title">Create Your Profile</h1>

<form method="POST" enctype="multipart/form-data" class="form-container">
    {% csrf_token %}
    {{ form.as_p }}

    <button type="submit" class="btn btn-primary">Create Profile</button>

    <a href="{% url 'thriftiezzz:show_all_clothing_posts' %}" class="btn btn-secondary">
        Cancel
    </a>
</form>

{% endblock %}