<!-- hw/templates/quotes/about.html-->
{% extends 'quotes/base.html' %}
    {% block content %}

    <h1>Welcome to Barack Obama's Quote of the Day Application!</h1>
    <p>This page displays famous quotes and pictures of The 44th President of the United States, <a href="https://en.wikipedia.org/wiki/Barack_Obama">Barack Obama</a></p>
    <br>
    <p>
        Barack Obama is one of the most influential political and public figures of the 21st century, who made history in 2008 by becoming the first African American to be elected president of the United States of America.
    </p>
    {% endblock %}