<!-- hw/templates/quotes/show_all.html-->
<!-- zverdieu@bu.edu 9/11/2025-->
<!-- Description: Template for show_all page-->


{% extends 'quotes/base.html' %}
    {% block content %}
    <h1>All Quotes by Barack Obama</h1>
    <ul>
        {% for q in quotes %}
            <li>{{ q }}</li>
        {% endfor %}
    </ul>

    <h1>All Pictures of Barack Obama</h1>
    <ul class="no-bullets">
        {% for p in pictures %}
            <li><img src="{{ p }}" alt="Obama picture" width="200"></li>
        {% endfor %}
    </ul>
    {% endblock %}
