<!-- blog/templates/mini_insta/base.html-->
<!-- zverdieu@bu.edu 9/25/2025-->
<!-- Description: Base template for mini_insta page-->
 {% load static %}
<html>
    <head>
        <title>Mini_Insta</title>
        <link rel="stylesheet" href="{% static 'styles-mini_insta.css' %}">
    </head>
    <body>
        
         {% block content %}
         {% endblock %}
         <footer>
            <a href="{% url 'mini_insta:show_all' %}">Mini Insta App</a>
            {% if profile %}
            <a href="{% url 'mini_insta:create_post' profile.pk %}" >Create Post</a><br>
            {% endif %}
            
            Page created by zverdieu@bu.edu. <br>
        </footer>
        
    </body>
</html>