<!-- File: templates/mini_insta/delete_post_form.html
 Author: Zacharie Verdieu (zverdieu@bu.edu), 10/10/2025
 Description: Html template displaying form to delete a post
 -->

{% extends 'mini_insta/base.html' %}

{% block content %}
<header>
    <h3>Hey {{profile.username}}, are you sure you want to delete this post?</h3>
</header>
<div class="singlePost">
    {% for photo in post.get_all_photos %}
        <img src="{{photo.get_image_url}}" alt="Photo for '{{post.caption}}' by {{post.profile}}">
    {% endfor %}
    <h3>{{post.caption}}</h3>
</div>

<!-- form to submit delete request-->
<form action="" method="POST">
    {% csrf_token %}
    <input type="submit" value="Delete" class="button">
</form>
<form action="{% url 'mini_insta:show_profile' profile.pk %}" method="Get">
    {% csrf_token %}
    <input type="submit" value="Cancel" class="button">
</form>
{% endblock %}

