<!-- File: templates/mini_insta/post.html
 Author: Zacharie Verdieu (zverdieu@bu.edu), 10/3/2025
 Description: Html template for individual post display page of mini_insta app
 -->

{% extends 'mini_insta/base.html' %}

{% block content %}
<header>
    <a href="{% url 'mini_insta:show_all' %}"><h1>Mini Insta</h1></a>
</header>
<nav>
    <ul>
        <li><a href="{% url 'mini_insta:show_feed' %}">Home</a></li>
        <li><a href="{% url 'mini_insta:search' %}">Search</a></li>
    </ul>
</nav>
{% if request.user.is_authenticated and request.user == post.profile.user %}
<a href="{% url 'mini_insta:delete_post' post.pk %}" class="button">Delete</a>
<a href="{% url 'mini_insta:update_post' post.pk %}" class="button">Update</a>
{% endif %}
<a href="{% url 'mini_insta:show_profile' post.profile.pk %}" class="button">Back to {{post.profile.username}}'s page</a>
<div class="singlePost">
    <!-- if this post has a first image, display that, if not, 
     display default "no images" image-->
    {% for photo in post.get_all_photos %}
        <img src="{{photo.get_image_url}}" alt="Photo for '{{post.caption}}' by {{post.profile}}">
    {% endfor %}
    {% if post.get_likes %}
        {% if post.get_likes > 1%}
        <h5>Liked by <strong>{{post.get_likes.first.profile.username}}</strong> and {{post.get_likes.count|add:"-1"}} others</h5>
        {% else %}
        <h5>Liked by <strong>{{post.get_likes.first.profile.username}}</strong></h5>
        {% endif %}
    {% endif %}
    <h3>{{post.caption}}</h3>
    <p>posted at {{post.timestamp}}</p>
    {% if request.user.is_authenticated and post.profile.user != request.user %}
        {% if has_liked %}
            <form action="{% url 'mini_insta:delete_like' post.pk %}" method="POST">
                {% csrf_token %}
                <input type="submit" value="Unlike" class="button">
            </form>
        {% else %}
            <form action="{% url 'mini_insta:like' post.pk %}" method="POST">
                {% csrf_token %}
                <input type="submit" value="Like" class="button">
            </form>
        {% endif %}
    {% endif %}
    <h1>Comments:</h1>
    {% for comment in post.get_all_comments %}
        <p>{{comment.profile.display_name}}</p>
        <h3>{{comment.text}}</h3><br>
    {% endfor %}
</div>

{% endblock %}