<!-- File: templates/mini_insta/show_profile.html
 Author: Zacharie Verdieu (zverdieu@bu.edu), 9/25/2025
 Description: Html template for show_profile page of mini_insta app
 -->

{% extends 'mini_insta/base.html' %}

{% block content %}
<header>
    <h1>Mini Insta</h1>
</header>

<div class="single_ig_profile">
    <div class="profile-header">
        <img class="profile-pic" src="{{ profile.profile_image_url }}" alt="{{ profile.username }}">
        <div class="profile-info">
            <h2>{{ profile.username }}</h2>
            <h3>{{ profile.display_name }}</h3>
            <p>{{ profile.bio_text }}</p>
            <p class="join-date">Joined on {{ profile.join_date }}</p>
        </div>
    </div>
    <!-- placeholders for additional account information-->
    <div class="account_info">
        <h3>Followers: 100</h3>
        <h3>Following: 10</h3>
        <h3>Posts: {{ profile.get_all_posts.count }}</h3>
    </div>
</div>
<div class="posts">
    <a href="{% url 'mini_insta:create_post' profile.pk %}"><button>Create a post!</button></a>
    <!-- displaying all posts for this profile-->
    {% for post in profile.get_all_posts %}
        <div class="post">
            {% if post.get_all_photos.first %}
                <a href="{% url 'mini_insta:post' post.pk %}">
                    <img src="{{post.get_all_photos.first.get_image_url}}" alt="Photo for {{post.caption}}">
                </a>
            {% else %}
                <a href="{% url 'mini_insta:post' post.pk %}">
                    <img src="https://i.ytimg.com/vi/_TCqcOk2hfY/hqdefault.jpg" alt="No images">
                </a>
            {% endif %}
        </div>
    {% endfor %}
</div>

{% endblock %}