<!-- File: templates/thriftiezzz/show_clothing_post.html
 Author: Zacharie Verdieu (zverdieu@bu.edu), 12/8/2025
 Description: Html template for show_clothing_post page for thriftiezzz app
 -->

{% extends "thriftiezzz/base.html" %}

{% block content %}

<div class="post-detail">

    <div class="post-detail-image-section">
        {% if post.picture %}
            <img src="{{ post.picture.url }}" alt="{{ post.name }}" class="post-detail-image">
        {% else %}
            <div class="post-detail-image placeholder">
                No Image Available
            </div>
        {% endif %}
    </div>

    <div class="post-detail-info-section">
        <h1 class="post-detail-title">{{ post.name }}</h1>

        <p class="post-detail-price">
            ${{ post.price }}
        </p>

        <p class="post-detail-meta">
            {% if post.size %}
                Size: {{ post.size }}
            {% endif %}
            {% if post.color %}
                {% if post.size %} | {% endif %}
                Color: {{ post.color }}
            {% endif %}
            {% if post.condition %}
                {% if post.size or post.color %} | {% endif %}
                Condition: {{ post.condition }}
            {% endif %}
        </p>

        <p class="post-detail-seller">
            Posted by:
            <a href="{% url 'thriftiezzz:show_profile' post.profile.pk %}">
                {{ post.profile.username }}
            </a>
            <br>
            Posted on: {{ post.post_date|date:"M d, Y" }}
        </p>

        {% if post.description %}
            <p class="post-detail-description">
                {{ post.description }}
            </p>
        {% endif %}

        {% if post.is_sold %}
            <p class="post-detail-sold">This item has been sold.</p>
        {% endif %}


        <div class="post-detail-actions">

            {% if request.user.is_authenticated and post.profile.user == request.user %}
                {# OWNER VIEW: show update/delete only #}

                <a href="{% url 'thriftiezzz:update_post' post.pk %}" class="btn btn-primary">
                    Update Post
                </a>

                <a href="{% url 'thriftiezzz:delete_post' post.pk %}" class="btn btn-danger">
                    Delete Post
                </a>

            {% elif request.user.is_authenticated and current_profile and not post.is_sold %}
                {# NON-OWNER LOGGED-IN USER: show add to cart & purchase #}

                <a href="{% url 'thriftiezzz:add_to_cart' current_profile.pk post.pk %}" class="btn btn-secondary">
                    Add to Cart
                </a>

                <a href="{% url 'thriftiezzz:purchase_post' current_profile.pk post.pk %}" class="btn btn-success">
                    Purchase Now
                </a>

            {% elif not request.user.is_authenticated %}
                {# NOT LOGGED IN: prompt to log in #}
                <p class="login-prompt">
                    <a href="{% url 'thriftiezzz:login' %}">Log in</a> to purchase or add this item to your cart.
                </p>
            {% endif %}

        </div>

    </div>

</div>

{% endblock %}
